<div class='user m-t-1'>
  <p class="color-primary indication in-bl">
    <span class="text">
      All your users are displayed in this page. You can click on one name to display its configuration page.
    </span>
  </p>
  <h4 class='m-t-1'>
    {{#link-to 'protected.teams' }}
      Teams
    {{/link-to}}
  </h4>
  <div class='content-wrapper m-t-1'>
   
    {{#if modelIsEmpty}}
      No entries 
    {{else}}
      {{models-table
        class="sortableTable"
        data=data
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/if}}
    You don't have any teams.
      <form {{action 'createTeam' on='submit'}}>
        <div class="form-group row m-t-1">
          <div class="col-md-4">
            {{input
              class="form-control"
              id="new-group-name"
              placeholder="Create your own team"
              value=teamName
              disabled=renaming}}
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-secondary" disabled={{preventRenaming}}>
              {{#if renaming}}
                {{ fa-icon "spinner" spin=true }}
              {{/if}}
              Create
            </button>
          </div>
        </div>
      </form>
    <div class="clearfix"></div>
  </div>
</div>
