<div class="group m-t-1">
  <h4>
    {{#link-to 'protected.users.teams' }}
      Teams
    {{/link-to}}
  </h4>
  <p class="color-primary indication in-bl">
    <span class="text">
    Team is a good team without team is team but team!
    </span>
  </p>
  <h4>
<!--
    {{#link-to 'protected.users.teams' }}Team {{team.name}}{{/link-to}}
-->
    {{#if hasTeam}}
      {{#link-to 'protected.users.teams.new' class='btn btn-primary pull-xs-right'}}Create a new user{{/link-to}}
    {{/if}}
  </h4>
  <div class='content-wrapper m-t-2'>
    {{#if hasTeam}}
      {{#each teams as |team|}}
        <h4 class='m-t-1 m-b-1 color-primary'> Teams
          <div class='in-bl va-tb'>
            {{icon-component class="va-sub" materialIcon="navigate_next"}} {{team.name}}
          </div>
        </h4>
        {{models-table
          class="sortableTable"
          data=team.members
          columns=columns
          showColumnsDropdown=false
          filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
          customMessages=sortableTableConfig.messageConfig
          customIcons=sortableTableConfig.customIcons
          customClasses=sortableTableConfig.customClasses
          useNumericPagination=true
          multipleColumnsSorting=false
        }}
      {{/each}}
    {{else}}
      <p>
        Looks like you don't have a team yet. Let's create one
      </p>
      <div class="form-group row">
        <div class="col-sm-4">
          {{nano-input hideError=userHasSubmitted placeholder='Your team name' model=model valuePath="name" autofocus=true }}
        </div>
        <div class="col-sm-2">
          <button class="btn btn-secondary" disabled={{preventRenaming}} {{ action "createTeam" }}>
            {{#if renaming}}
              {{ fa-icon "spinner" spin=true }}
            {{/if}}
            Create
          </button>
        </div>
      </div>
    {{/if}}
    <div class="clearfix"></div>
  </div>
</div>
